html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    background-image: url("../images/icons.jpg");

}

.container{
    margin-top: 40px;
    margin-bottom: 80px;
    text-align: center;
    padding: 15px 0 15px 0;
    background: white;
}

.row {
    justify-content: center
}

.answers .picture {
    text-align: center;
}


.question-wrapper {
    display: none;
    font-size: 18px;
    text-emphasis: none;
    padding: 15px;
}

.active {
    display: block;
}

.hide {
    display: none;
}

.content {
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    color: #000000;
    overflow: auto;
    border: none;
    padding: 10px;
    padding-top: 0px;
}

li {
    text-decoration: none;
    font-size: 18px;
}

li:hover {
    color:  #000000a5;
}

ul {
    list-style-type: none;
    padding: 0;
}

.title {
    font-size: 28px;
    padding: 15px 0 15px 0;
    letter-spacing: 2px;
    word-spacing: 2px;
}

.question {
    font-size: 24px;
    padding: 8px 0 8px 0;
    letter-spacing: 1px;
}

.answers {
    font-size: 18px;
    padding-top: 8px;
    letter-spacing: 1px;
}

.tally {
    font-size: 18px;
    padding-top: 8px;
    letter-spacing: 1px;
}

h3 h4 {
    font-size: 18px;
    text-decoration: none;
}

h4 {
    padding-bottom: 10px;
}

.btn {
    font-size: 18px;
    text-decoration: none;
}

.green {
    color: green;
}

.green:hover {
    color: green;
}

.red {
    color: red;
}

.red:hover {
    color: red;
}

footer {
    width: 100%;
    text-align: center;
    background-color: #ffffff;
    border-top: 2px solid black;
    padding-top: 15px;
    color: black;
    font-size: 10px;
}

.footer {
    padding: 0;
    margin: 0;
    letter-spacing: 1px;
    word-spacing: 2px;
}